<!DOCTYPE html>
<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      The Bat Phone team is Derek, Ben, Tayla, Marija and Sean.  We are Seniors at Northeastern in the Electrical and Computer Engineering program.  
    </p>