<% provide(:title, 'All Comments') %>
<h1>All Comments</h1>



<%#= will_paginate %>

<ul class="users">

  <%#= render @comments %>
  <% @comments.each do |comment| %>
      <%= render comment %>
  <% end %>

</ul>

<%#= will_paginate %>



<%#= link_to "Add New Device", url_for  , class: "btn btn-lg btn-primary" %>
