<% provide(:title, 'All recordings') %>
<h1>All recordings</h1>

<%#= will_paginate %>

<ul class="recordings">
  <% @recordings.each do |recording| %>
      <%= render recording %>
  <% end %>
</ul>

<%#= will_paginate %>