<% provide(:title, 'All Networks') %>
<h1>All Networks</h1>

<%= will_paginate %>

<ul class="networks">
  <% @networks.each do |network| %>
      <%= render @networks %>
  <% end %>
</ul>

<%#= will_paginate %>

<%= link_to "Add New Network", addnetwork_path, class: "btn btn-lg btn-primary" %>