
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<% provide(:title, 'All Networks') %>
<h1>All Networks</h1>

<%= will_paginate %>

<ul class="networks">
  <% @networks.each do |network| %>
      <%= render @networks %>
  <% end %>
</ul>

<%#= will_paginate %>

<%= link_to "Add New Network", addnetwork_path, class: "btn btn-lg btn-primary" %>
<% content_for :javascript do %>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}});
</script>
<% end %>
#
