
<%# @network.devices = Device.all %>
<%# @hash = Gmaps4rails.build_markers(@devices) do |device, marker| %>

<div style='width: 1200px;'>
  <div id=  "custom_style" style='width: 1200px; height: 600px;'></div>
</div>

<script type="text/javascript">

    var mapStyle = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":
            [{"color":"#000000"},{"lightness":13}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":
            [{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":
            [{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":
            [{"color":"#34495e"}]},{"featureType":"poi","elementType":"geometry","stylers":
            [{"color":"#566777"},{"lightness":5}]},{"featureType":"poi.school","elementType":"labels.icon","stylers":
            [{"color":"#98acbf"}]},{"featureType":"poi.sports_complex","elementType":"labels.icon","stylers":
            [{"color":"#7ca2c7"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":
            [{"color":"#4d5a67"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":
            [{"color":"#3d5165"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":
            [{"color":"#2e3944"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":
            [{"color":"#52606f"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":
            [{"color":"#445d75"}]},{"featureType":"transit","elementType":"all","stylers":
            [{"color":"#146474"}]},{"featureType":"transit","elementType":"labels.text.fill","stylers":
            [{"color":"#ffffff"}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":
            [{"color":"#5a748d"}]},{"featureType":"transit","elementType":"labels.icon","stylers":
            [{"color":"#5a748d"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}];

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'custom_style'},
                provider: {
                    zoom:      15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles:    mapStyle
                }
            },
            function(){

                <% @network.devices = Device.all %>
                <% @hash = Gmaps4rails.build_markers(@devices) do |device, marker| %>
                <% marker.lat device.latitude %>
                <% marker.lng device.longitude %>
                <% marker.infowindow render device %>
                <% end %>

                var circles = handler.addCircles(<%=raw @hash.to_json %>);
                var markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
            }
    );
</script>
