<% provide(:title, 'All microposts') %>
<h1>All posts</h1>

<%#= will_paginate %>

<container class="users">
  <%# @microposts.each do |micropost| %>
      <%= render @microposts %>
  <%# end %>
</container>

<%#= will_paginate %>


