<% provide(:title,  @micropost.subject) %>
<%# provide(:title, "hi") %>

<%#= @comments =  @micropost.comments %>
<br>
<div class="row">
<%= render @micropost %>
<br>
</div>
    <!--<div class="row">-->
      <!--<aside class="col-md-4">-->
        <!--<section class="user_info">-->
          <!--<h4>-->
            <!--micropost created by :  <%#= @micropost.user.name %> <br>-->
          <!--</h4>-->
          <%#= @micropost.content %>
          <!--</h3>-->
    <!-- -->
    <!-- -->
        <!--</section>-->
      <!--</aside>-->
    <!--</div>-->



  <%# if @micropost.comments.any? %>


      <%#= render @micropost.comments %>

    <h4> Number of comments : <%= @micropost.comments.count %></h4>
      <%#= will_paginate @devices %>
  <%# end %>
